body {
  background-image: url(../image/mainPic.png);
  background-size: cover;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#background {

}

.contact a{
        transform: rotate(90deg);
        text-align: center;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        color: #FF652F;
        position: fixed;
        margin-top: 25%;
        margin-left: 97%;

}

.contact a:hover {
  color: white;
}



/********************************************/
  /*************** Top nav Home ***************/
  /********************************************/

  .home a{
    top: 15px;
    right:48.5%;
    text-decoration: none;
    cursor: pointer;
    color: #FF652F;
    position: fixed;


  }

  .home a:hover {
    color: white;
  }

  /********************************************/
  /************** Side nav Contact ************/
  /********************************************/

  .contact a{
    transform: rotate(90deg);
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #FF652F;
    position: fixed;
    margin-top: 14.5%;
    margin-left: 97%;

  }

  .contact a:hover {
  color: white;
  }

  /******************************************/
  /************** Side nav About ************/
  /******************************************/

  #about a{
    transform: rotate(-90deg); /* Equal to rotateZ(45deg) */
    text-align: center;
    display:inline-block;
    text-decoration: none;
    color: #FF652F;
    cursor: pointer;
    position: fixed;
    margin-top: 14.5%;
  }

  #about a:hover {
    color: white;
  }

  /************************************************/
  /************** Bottom nav Portfolio ************/
  /************************************************/

  .main a{
    bottom: 10px;
    right:48.5%;
    text-decoration: none;
    cursor: pointer;
    color: #FF652F;
    position: fixed;

}

  .main a:hover {
  color: white;
  }

  /* End of Nav CSS */


  /*********************************/
  /********** Contact Form *********/
  /*********************************/


 /* Form */
  form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    background-color: #2C2A34;
    border-radius: 7px;
    opacity: 80;

  }

  .formLayout {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;

  }

  form h2 {
    color: #FF652F;
  }

  form #firstName #lastName #myEmail #address #myDate #comments {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .textArea {
    color: black;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #999A9B;
    border-radius: 0;
    padding: 10px 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

  }

  #comments {
      max-width: 50%;
  }


  button{
    border: none;
    background-color: transparent;
    color: white;
    border: 1px solid #FF652F;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: #e7e7e7;
    color: black;
  }
